.container {
  margin-top: 20px;

  .content {
    margin-top: 60px;

    .card {
      margin: 0 auto;
      width: 80%;

      .no-class {
        margin: 0 auto;
      }

    }

    .row {

      .icons {
        i {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
